body {
    background: linear-gradient(#367588, rgb(126, 122, 122));
    background-size: 101%, 100%;
}

*{
    font-family: Garamond, Georgia, serif;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
}

a:link {
    color:darkslategrey;
    text-decoration: dashed;
}
a:visited {
    color:aqua;
    text-decoration: dashed;
}
a:hover{
    background-color: rgb(69, 24, 194);
}

#saetSection {
    line-height: 3px;
}

img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Saet:hover{
    transform: scaleX(-1);
}

#map {
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

.plant_description{
    visibility: hidden;
}
div.gallery:hover .plant_description{
    visibility: visible;
}
div.gallery {
    margin: 15px;
    float: left;
    width: 250px;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.gallery img:hover{
    width: 110%;
}